{% set exclude_sidebar = true %}
{% set exclude_header = true %}
{% extends 'base.html.twig' %}

{% block title %}Nieuw Wachtwoord Instellen{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/reset_password.css') }}">
{% endblock %}

{% block body %}
    <section class='w-65 h-50 d-flex flex-column justify-content-center align-self-center align-center p-3'>
        <h1 >Reset Wachtwoord</h1>

        {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
            <p>{{ message|raw }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <form method="post" action="{{ path('password_reset') }}" class="w-50 mx-auto">
            <div class="form-group">
                <label for="password">Nieuw Wachtwoord</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password_confirm">Herhaal Nieuwe Wachtwoord</label>
                <input type="password" id="password_confirm" name="password_confirm" class="form-control" required>
            </div>
            <button type="submit" class="btn bg-color-sky-blue mt-3">Reset Wachtwoord</button>
        </form>
    </section>

{% endblock %}
